
<h2><%= @author.first_name %> <%= @author.last_name %></h2>
<p class="author_bio"> <%= @author.bio %> </p>

<% if current_user.admin? %>
    <p> <%= link_to 'Edit Author', edit_author_path, class: "btn btn-outline-success" %> </p>
    <p> <%= link_to "Delete Author", @author, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-outline-danger" %> </p>
<% end %>

<br>
<h3>All Books:</h3>
<hr>

<% @books.each do |book| %>
    <h4 class="title"> <%= book.title %> </h4>
    <p class="publisher">(<%= book.publisher %>) | <%= book.year_published %></p>
    <p class="description"> <%= book.description %> </p>
    <%= link_to 'See Book', book %>
    <hr>
<% end %>